<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">




                <div class="layui-fluid" style="width: 100%;height:400px;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-body ">

                                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                    <div id="main" style="width: 100%;height:400px;"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <form method="get" class="layui-form" th:action="@{/Book/searchBookByName}">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"   placeholder="输入书名开始精确查询" name="bookName" >
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                </form>





                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/Maple-Leaf-Reading/Book/toAddBook',600,400)"><i class="layui-icon"></i>添加</button>
                </div>





                <div class="layui-card-body layui-table-body layui-table-main">
                    <div class="layui-col-md12">
                        <blockquote class="layui-elem-quote layui-quote-nm"><strong><td style="color:orangered"  bgcolor="#ff4500" th:text="${msg}"></td></strong></blockquote>
                    </div>
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>图书名称</th>
                            <th>分类</th>
                            <th>阅读量</th>
                            <th>章节数</th>
                            <th>发布时间</th>
                            <th>图片</th>
                            <th>书籍评分</th>
                            <th>作者</th>
                            <th>收藏数</th>
                            <th>简介</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book:${pageInfo.getList()}">
                            <td th:text="${book.bookName}"></td>
                            <td th:text="${book.classification}"></td>
                            <td th:text="${book.readingVolume}"></td>
                            <td th:text="${book.numberOfChapters}"></td>
                            <td th:text="${book.releaseTime}"></td>
                            <td ><img th:src="@{'.././images/book/'+${book.bookPhoto}}" alt="图片加载错误"></td>
                          <!--  <td ><img th:src="@{'../images/student/'+${student.userPhoto}}" alt="图片加载错误"></td>-->
<!--                            <td ><img src="../images/book/testBookImage.jpg" alt="图片加载错误"></td>-->
                            <td th:text="${book.bookRating}">小明</td>
                            <td th:text="${book.author}">男</td>
                            <td th:text="${book.numberOfCollections}">13000000000</td>
                            <td th:text="${book.briefIntroduction}">北京市 海淀区</td>
                            <td>
                                <!--每一行信息后面对的编辑按钮-->
                                <a onclick="xadmin.open('编辑图书','#',600,400)" title="编辑图书" th:href="@{/Book/toEditBook(bookName=${book.bookName},
                                            classification=${book.classification},numberOfChapters=${book.numberOfChapters},author=${book.author},briefIntroduction=${book.briefIntroduction})}">
                                    <i class="layui-icon">&#xe631;</i>
                                </a>
                                <!--删除按钮-->
                                <a title="删除" onclick="javascript:return member_del()" th:href="@{/Book/deleteBook(deleteBookName=${book.bookName})}">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
<!--                                &lt;!&ndash;阅读&ndash;&gt;-->
<!--                                <a onclick="xadmin.open('阅读图书','#',600,400)" th:href="@{/Book/toReadPDF(readBookName=${book.bookPhoto})}" title="阅读图书">-->
<!--                                    <i class="layui-icon">&#xe615;</i>-->
<!--                                </a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>






                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a th:href="@{/Book/getAllBooks}">首页</a>
                            <a class="prev" th:href="@{/Book/getAllBooks(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                            当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页
                            <a class="next" th:href="@{/Book/getAllBooks(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                            <a th:href="@{/Book/getAllBooks(pageNum=${pageInfo.pages})}">尾页</a>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/extension/bmap.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));






    // 指定图表的配置项和数据
    option = {
        backgroundColor: '#2c343c',

        title: {
            text: 'Customized Pie',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'访问来源',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    // [[${session.bingData}]]
                    {value:[[${session.Android}]], name:'Android'},
                    // {value:355, name:'C/C++'},
                    // {value:333, name:'H5小游戏'},
                    // {value:222, name:'HTML5'},
                    // {value:222, name:'HTML5'},
                    // {value:222, name:'Java'},
                    {value:[[${session.JavaScript}]], name:'JavaScript'},
                    {value:[[${session.JQuery}]], name:'JQuery'},
                    {value:[[${session.MySQL}]], name:'MySQL'},
                    {value:[[${session.Python}]], name:'Python'},
                    {value:[[${session.xiaochengxu}]], name:'小程序'},
                    {value:[[${session.jiqixuexi}]], name:'机器学习'},
                    {value:[[${session.ceshi}]], name:'测试'},
                    {value:[[${session.shenduxuexi}]], name:'深度学习'}

                ].sort(function (a, b) { return a.value - b.value}),
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                roseType: 'angle',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };



    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(){
        layer.confirm('确定要删除吗？', {
            btn: ['确定', '取消']
        }, function () {
            layer.closeAll('dialog');
            alert("删除成功");
        }, function () {
            layer.closeAll('dialog');
            alert("删除失败");
        });
    }
</script>
</html>