<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为唯一标识，映射器接口的全限定名 -->
<mapper namespace="com.example.mapper.MasterMapper">
    <resultMap id="MasterMap" type="com.example.entity.Master">
        <id column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="findLoginUserInfo" resultMap="MasterMap">
        select * from master where account = #{account}
    </select>

</mapper>
